@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Eco Friendly Car showroom</h1>
    <img src="~/Images/green.jpg"/>   
</div>
<div>-</div>
<div class="text-center">
    <a asp-controller="Car" asp-action="GetCars" class="btn btn-primary">Click here to See Showroom</a>
</div>
